<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>HIHIhi</h1>
<h2 th:text="${check1}" style="color: red"></h2>
<a th:href="@{/add}">Add product</a>
<h1>List products</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Status</th>
        <th rowspan="2">Action</th>
    </tr>
    <tr th:each="pro : ${productList}">
        <td th:text="${pro.id}"></td>
        <td th:text="${pro.name}"></td>
        <td th:text="${pro.price}"></td>
        <td th:text="${pro.quantity}"></td>
        <td th:text="${pro.status}"></td>
        <td>
            <a th:href="@{/edit/{id}(id = ${pro.id})}">edit</a>
            <a th:href="@{/delete/{id}(id = ${pro.id})}">delete</a>
        </td>
    </tr>
</table>
</body>
</html>